<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" class="logo">
    <img alt="Apollo logo" src="https://media.licdn.com/dms/image/C4E0BAQE19TrEXW022w/company-logo_200_200/0?e=2159024400&v=beta&t=KSA1haVf2zqXDG5scvlmrXltTNA3MkkLLQpolQrTBTU" class="logo">
    <img alt="GraphQL logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/GraphQL_Logo.svg/240px-GraphQL_Logo.svg.png" class="logo">
    <div v-if="$apollo.loading">Loading..</div>
    <div v-else>
      <h2>User: {{viewer.login}} ({{viewer.name}})</h2>
    </div>
    <hr>
    <br>
    <form v-on:submit.prevent class="search-form">
      <label for="search-input">Github username:</label>
      <input type="text" id="search-input" value="fortumo"
             v-model="searchValue"
      >
    </form>
    <repo-list :searchValue="searchValue"></repo-list>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {gql} from 'apollo-boost';
import Repos from '@/components/Repos.vue';
import RepoList from '@/components/RepoList.vue';

@Component({
  components: {RepoList},
  apollo: {
    viewer: {
      query: gql `
      {
        viewer {
          name,
          login
        }
      }
    `,
    },
  },
})
export default class Home extends Vue {
  viewer = {};
  searchValue = 'fortumo';

}
</script>
<style lang="scss" scoped>
  .logo {
    width: 40px;
    height: 40px;
  }

  .search-form {
    input {
      margin: 8px;
      display: inline-block;
      border: 1px solid #ccc;
      box-shadow: inset 0 1px 3px #ddd;
      border-radius: 4px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 16px;
    }
  }
</style>
