<template>
  <div class="home">
    <h1>User repositories</h1>
    <ApolloQuery :query="reposQuery" :variables="{loginName:searchValue}">
      <template slot-scope="{ result: { data, isLoading } }">
        <div v-if="isLoading">LOADING ...</div>
        <div v-else-if="data && data.repositoryOwner && !isLoading" class="repo-container">
          <div v-for="repo of data.repositoryOwner.repositories.edges" class="repo">
            <h3>{{repo.node.name}}</h3>
            <p>{{repo.node.description}}</p>
            <a :href="repo.node.url">{{repo.node.name}}</a>
          </div>
        </div>
      </template>
    </ApolloQuery>
  </div>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from 'vue-property-decorator';
  import {GET_FORTUMO_REPOS, GET_REPOS} from '@/constants/graphql';

  @Component({
    components: {},
  })
  export default class RepoList extends Vue {
    @Prop ({default: 'fortumo'}) searchValue!: string;
    get reposQuery() {
      return GET_FORTUMO_REPOS;
    }

  }
</script>
<style lang="scss" scoped>
  .repo {
    margin: 6px;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    padding: 10px 5px;
    box-sizing: border-box;
  }

  .repo-container {
    margin: auto;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
